<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE CLIENTE</a>
 
  </nav>

  <div class="agregar_contenedor"></div>
  <div class="row mt-5">
  <div class="card">
      <div class="card-body">
          <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
            <div class="form-group">
              <label for="" class="control-label" hidden>Registro No.</label>
                    <input type="text"  readonly="readonly"  [(ngModel)]="user.idmedicina" name="idmedicina" placeholder="No" class="form-control" required hidden>
                    </div>                  

                  <div class="form-group">
              <label for="" class="control-label">Nombre</label>
              <input type="text"  [(ngModel)]="user.nombre"  name="nombre" placeholder="DIGITE EL NOMBRE"  class="form-control" autofocus>
             </div>

             <div class="form-group">
              <label for="" class="control-label">Precio</label>
              <input type="text"  [(ngModel)]="user.precio"  name="precio" placeholder="DIGITE EL PRECIO"  class="form-control" autofocus>
             </div>

            <button type="submit" class="btn btn-primary" formnovalidate value="Save"  onclick="javascript:alert('Registro Almacenado')">
                Agregar
            </button>
            &nbsp;&nbsp; <button (click)="exportToExcel()" class="btn btn-secondary">Exportar a Excel</button>
          &nbsp;&nbsp; <button class="btn btn-dark" (click)="openPDF()">Descargar PDF</button>`
          </form>
      </div>
  </div>
  </div>
  <br>

 <div class="container">  
    <div class="row mt-25">  
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Digite El Nombre de la Medicina que desea Buscar" [(ngModel)]="filterPost">
      </div>
      
   <table class="table table-borbered table-hover" id="tabla">
     <thead>
        <tr>
          <th>ID Medicina</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Estado</th>
        </tr>
      </thead>
    <tbody >
                <tr *ngFor="let User of TUser | filtercliente:filterPost">
                  <td >{{User.idmedicina}}</td>
                  <td >{{User.nombre}}</td>
                  <td >{{User.precio}}</td>
                  <td >{{User.estado}}</td>
                  <td>  <button  class="btn btn-danger"  (click)="EliminarData(User.idmedicina)" onclick="javascript:alert('Registro Eliminado')" >Eliminar</button> </td>
                    <td>
                      <button  class="btn btn-success" [routerLink]="['/medicina/edit', User.idmedicina]">
                        Actualizar
                   </button>
                </td>
                  </tr>
  
     </tbody>
   </table>
</div>
</div>
